<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sirelon.marsroverphotos">

    <uses-sdk tools:overrideLibrary="com.readystatesoftware.chuck" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <application
        android:name=".RoverApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ComposeAboutAppActivity"
            android:label="@string/title_activity_compose_about_app"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".feature.rovers.RoversActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- <action android:name="android.intent.action.VIEW" /> -->
                <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


                <!-- <data -->
                <!-- android:host="marsrovers.com" -->
                <!-- android:scheme="http" /> -->
                <!-- <data -->
                <!-- android:host="marsrovers" -->
                <!-- android:scheme="sirelon" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PhotosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".feature.rovers.RoversActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.rovers.RoversActivity" />
        </activity>
        <activity
            android:name=".feature.popular.PopularPhotosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".feature.rovers.RoversActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.rovers.RoversActivity" />
        </activity>
        <activity
            android:name=".activity.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:launchMode="singleTop"
            android:parentActivityName=".activity.PhotosActivity"
            android:theme="@style/FullscreenTheme"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PhotosActivity" />
        </activity>
        <activity
            android:name=".feature.favorite.FavoritePhotosActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".feature.rovers.RoversActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.rovers.RoversActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_application_id" />
    </application>

</manifest>